.speakers__heading {
  height: 60vh;
  background-image: url(./images/speakers-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.speakers__outline {
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  filter: brightness(50%);
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  position: absolute;
}
.speakers__solid {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 99999;
}

/* Profile Card CSS  */

.row {
  margin: 3px 0;
}
.speakers__profile {
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0%);
}
.speakers__profile:hover {
  filter: saturate(100%);
}
.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  height: 100%;
  display: flex;
  align-items: end;
}
.profile__comp {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12rem 2rem 2rem 2rem;
  opacity: 0;
}
.profile__comp:hover {
  opacity: 1;
  transition: all ease-in 0.3s;
}
.speaker__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.speaker__social i:hover {
  color: #e22713;
}
.speaker__details h1 {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.speaker__details h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
}
.speaker__one {
  background-image: url(./images/speaker01.jpg);
}
.speaker__two {
  background-image: url(./images/speaker02.png);
}
.speaker__three {
  background-image: url(./images/speaker03.jpg);
}
.speaker__four {
  background-image: url(./images/speaker04.jpg);
}
.speaker__five {
  background-image: url(./images/speaker05.jpg);
}
.speaker__six {
  background-image: url(./images/speaker06.png);
}
.speaker__seven {
  background-image: url(./images/speaker07.png);
}
.speaker__eight {
  background-image: url(./images/speaker08.jpg);
}
.speaker__nine {
  background-image: url(./images/speaker09.png);
}
.speaker__ten {
  background-image: url(./images/speaker10.jpg);
}
.speaker__eleven {
  background-image: url(./images/speaker11.jpg);
}
.speaker__twelve {
  background-image: url(./images/speaker13.png);
}
.speaker__thirteen {
  background-image: url(./images/speaker14.jpg);
}
.speaker__fourteen {
  background-image: url(./images/speaker15.jpg);
}
.speaker__fifteen {
  background-image: url(./images/speaker16.jpg);
}
.speaker__sixteen {
  background-image: url(./images/speaker17.jpg);
}
.speaker__seventeen {
  background-image: url(./images/speaker18.jpg);
}
.speaker__eighteen {
  background-image: url(./images/speaker19.jpg);
}
.speaker__nineteen {
  background-image: url(./images/speaker20.jpg);
}
.speaker__twenty {
  background-image: url(./images/speaker21.jpg);
}
.speaker__twentyone {
  background-image: url(./images/speaker22.jpg);
}
.speaker__twentytwo {
  background-image: url(./images/speaker23.jpg);
}
.speaker__twentythree {
  background-image: url(./images/speaker24.png);
}
.speaker__twentyfour {
  background-image: url(./images/speaker26.jpg);
}

.first__row {
  margin-top: 5rem;
}
.last__row {
  margin-bottom: 8rem;
}

@media screen and (max-width: 600px) {
  .speakers__heading {
    height: 25vh;
  }
  .speakers__outline {
    display: none;
  }
  .speakers__solid {
    font-size: 2.5rem;
  }
  .speakers__profile {
    height: 10rem;
  }
  .profile__comp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.8rem 0.6rem 0.5rem 0.6rem;
    opacity: 0;
  }
  .speaker__details h1 {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .speaker__details h2 {
    font-size: 0.6rem;
    font-weight: 300;
  }
  .first__row {
    margin-top: 1rem;
  }
  .last__row {
    margin-bottom: 2rem;
  }
}
