.speakers__heading {
  height: 60vh;
  background-image: url(./images/speakers-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.speakers__outline {
  font-size: 10rem;
  font-weight: 800;
  letter-spacing: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  filter: brightness(50%);
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
  position: absolute;
}
.speakers__solid {
  color: #ffffff;
  font-size: 3rem;
  text-transform: uppercase;
  z-index: 99999;
}

/* Profile Card CSS  */
.row {
  margin: 2rem 0;
}
/* .row > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
} */
.speakers__profile {
  height: 20rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: saturate(0%);
  
}
.speakers__profile:hover {
  filter: saturate(100%);
}
.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  height: 100%;
  display: flex;
  align-items: end;
}
.profile__comp {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12rem 2rem 2rem 2rem;
  opacity: 0;
}
.profile__comp:hover {
  opacity: 1;
  transition: all ease-in 0.3s;
}
.speaker__social {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.speaker__social i:hover {
  color: #e22713;
}
.speaker__details h1 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.speaker__details h2 {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.speaker__one {
  background-image: url(./images/Hartnell-removebg-preview.png);
}
.speaker__two {
  background-image: url(./images/Hartnell-removebg-preview.png);
}
