@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --margin-lf: 0 8rem;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif !important;
}

/* Navbar CSS */

.navbar {
  background-color: #0f172a;
}
.container-fluid {
  margin: var(--margin-lf) !important;
}
.logo {
  width: 140px;
  padding: 10px 0;
  margin: 0;
}
.nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
}
.nav-btn {
  border: none;
  padding: 8px 25px;
  background-color: #e22713;
  color: #ffffff;
  font-weight: 600;
}
.navbar-toggler {
  color: #ffffff !important;
}
.navbar-toggler-icon {
  color: #ffffff !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: end !important;
}
.nav-last-item {
  margin-right: 15px;
}

/* Hero Section CSS */

.hero-section {
  height: 100vh;
  background-image: url(./images/video-capture-4484.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding: var(--margin-lf);
  overflow: hidden;
}
.hero-text {
  font-size: 7.7rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10%;
}
.hero-text span {
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}
.text-first {
  color: #e22713 !important;
}
.hero-button span {
  font-size: 3rem;
  font-weight: 100;
  text-decoration: none;
  color: #ffffff;
  background: rgb(234, 58, 41);
  background: linear-gradient(
    90deg,
    rgba(234, 58, 41, 1) 0%,
    rgba(246, 114, 82, 1) 100%
  );
  padding: 12px 12px;
  border: none;
  border-radius: 50px;
}
.herobtn-div {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.herobtn-div h3 {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3px 0 0 20px;
}

/* Stats CSS */

.stats {
  background: rgb(246, 114, 82);
  background: linear-gradient(
    90deg,
    rgba(246, 114, 82, 1) 0%,
    rgba(234, 58, 41, 1) 100%
  );
  padding: var(--margin-lf);
  color: #ffffff;
}
.line {
  border-right: 3px solid rgb(255, 255, 255, 0.2);
}
.statcomp span {
  font-size: 60px;
  margin-bottom: 30px;
}
.statdiv {
  padding: 100px 0;
}
.statcomp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statcomp h1 {
  font-size: 32px;
  font-weight: 700;
}
.statcomp h3 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

/* About CSS */

.about {
  margin: 100px 0 0 0px !important;
}
.about h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ea3a29;
}
.about h3 {
  font-size: 38px;
  font-weight: 600;
  margin-top: 40px;
}
.about p {
  font-size: 18px;
  margin-top: 70px;
  margin-right: 150px;
  color: #737373;
}
.aboutbtn {
  margin-top: 100px;
}
.about-btn {
  text-decoration: none;
  text-transform: uppercase;
}
.btn-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background: rgb(234, 58, 41);
  background: linear-gradient(
    90deg,
    rgba(234, 58, 41, 1) 0%,
    rgba(246, 114, 82, 1) 100%
  );
  padding: 15px 35px;
}
.btn-item span {
  font-weight: 100 !important;
  font-size: 2rem;
}
.noslidess {
  width: 100%;
}

/* UP Editions CSS */

.upedt {
  background-color: #f1f5f9;
  padding-bottom: 8rem;
}
.uptitle {
  margin: var(--margin-lf);
}
.uptitle h1 {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e22713;
  padding-top: 6rem;
}
.uptitle p {
  font-size: 18px;
  color: #737373;
  margin: 20px 0 60px 0;
}
.imgrid {
  margin: var(--margin-lf);
}
.imsec {
  display: flex;
  align-items: end;
  height: 650px;
  width: 100%;
  background-color: #737373;
  margin: 20px 40px 20px 10px;
}
.imone {
  background-image: url(./images/imgone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imtwo {
  background-image: url(./images/imgtwo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imthree {
  background-image: url(./images/imgthree.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* UP Editions CSS */

.cardmar {
  margin: 20px;
}
.cardtitle {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.evntschedule {
  color: #ffffff;
  display: flex;
  margin-top: 10px;
}

.evntdate {
  display: flex;
}
.evntdate p {
  margin-left: 10px;
}
.evntlocation {
  display: flex;
}
.evntlocation p {
  margin-left: 10px;
}
.evntlocation span {
  margin-left: 10px;
}

/* Card Button */

.cardbtn {
  margin: 20px 0 15px 0;
}
.card-btn {
  text-decoration: none;
  text-transform: uppercase;
}
.cardbtn-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 10px 35px;
}
.cardbtn-item span {
  font-weight: 100 !important;
  font-size: 2rem;
  rotate: -45deg;
}

@media screen and (max-width: 600px) {
  .hero-text {
    font-size: 3.5rem;
  }
  .container-fluid {
    margin: 0 !important;
  }
  .hero-section {
    padding: 1rem !important;
    height: 80vh;
  }
  .line {
    border-right: 0;
  }
  .statcomp span {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .stats {
    padding: 0;
  }
  .statcomp h1 {
    font-size: 24px;
  }
  .statcomp h3 {
    font-size: 14px;
  }
  .statdiv {
    padding: 30px 0;
  }
  .statcomp {
    margin: 20px 0;
  }
  .about {
    padding: 0 1rem !important;
    margin-top: 50px !important;
  }
  .about-event .row {
    --bs-gutter-x: 0;
  }
  .about h3 {
    font-size: 18px;
  }
  .about p {
    margin-right: 0;
    margin-top: 30px;
    font-size: 14px;
  }
  .aboutbtn {
    margin: 20px 0 50px 0;
  }
  .btn-item {
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
  }
  .uptitle {
    margin: 1rem;
  }
  .uptitle h1 {
    font-size: 24px;
    padding-top: 50px;
  }
  .uptitle p {
    font-size: 14px;
  }
  .imgrid {
    margin: 1rem;
  }
  .imsec {
    height: 420px;
    margin: 0;
    display: flex;
    align-items: end;
  }
  .evntschedule span {
    font-size: 18px;
  }
  .evntschedule p {
    font-size: 14px;
  }
}
