@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --margin-lf: 0 8rem;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif !important;
}

/* Navbar CSS */

.navbar {
  background-color: #0f172a;
}
.container-fluid {
  margin: var(--margin-lf) !important;
}
.logo {
  width: 140px;
  padding: 10px 0;
  margin: 0;
}
.nav-link {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  font-family: "Poppins", sans-serif;
}
.nav-btn {
  border: none;
  padding: 8px 25px;
  background-color: #e22713;
  color: #ffffff;
  font-weight: 600;
}
.navbar-toggler {
  color: #ffffff !important;
}
.navbar-toggler-icon {
  color: #ffffff !important;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: end !important;
}
.nav-last-item {
  margin-right: 15px;
}

/* Hero Section CSS */

.hero-section {
  height: 100vh;
  background-image: url(./images/video-capture-4484.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding: var(--margin-lf);
  overflow: hidden;
}
.hero-text {
  font-size: 7.7rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10%;
}
.hero-text span {
  color: #ffffff;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3px;
}
.text-first {
  color: #e22713 !important;
}
.hero-button span {
  font-size: 3rem;
  font-weight: 100;
  text-decoration: none;
  color: #ffffff;
  background: rgb(234, 58, 41);
  background: linear-gradient(
    90deg,
    rgba(234, 58, 41, 1) 0%,
    rgba(246, 114, 82, 1) 100%
  );
  padding: 12px 12px;
  border: none;
  border-radius: 50px;
}
.herobtn-div {
  display: flex;
  align-items: center;
  margin-top: 5rem;
}
.herobtn-div h3 {
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  margin: 3px 0 0 20px;
}

/* Stats CSS */

.stats {
  background: rgb(246, 114, 82);
  background: linear-gradient(
    90deg,
    rgba(246, 114, 82, 1) 0%,
    rgba(234, 58, 41, 1) 100%
  );
  padding: var(--margin-lf);
  color: #ffffff;
}
.line {
  border-right: 3px solid rgb(255, 255, 255, 0.2);
}
.statcomp span {
  font-size: 60px;
  margin-bottom: 30px;
}
.statdiv {
  padding: 100px 0;
}
.statcomp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.statcomp h1 {
  font-size: 32px;
  font-weight: 700;
}
.statcomp h3 {
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
}

/* About CSS */

.about {
  margin: 100px 0 0 0px !important;
}
.about h1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ea3a29;
}
.about h3 {
  font-size: 38px;
  font-weight: 600;
  margin-top: 40px;
}
.about p {
  font-size: 18px;
  margin-top: 70px;
  margin-right: 150px;
  color: #737373;
}
.aboutbtn {
  margin-top: 100px;
}
.about-btn {
  text-decoration: none;
  text-transform: uppercase;
}
.btn-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background: rgb(234, 58, 41);
  background: linear-gradient(
    90deg,
    rgba(234, 58, 41, 1) 0%,
    rgba(246, 114, 82, 1) 100%
  );
  padding: 15px 35px;
}
.btn-item span {
  font-weight: 100 !important;
  font-size: 2rem;
}
.noslidess {
  width: 100%;
}

/* UP Editions CSS */

.upedt {
  background-color: #f1f5f9;
  padding-bottom: 8rem;
}
.uptitle {
  margin: var(--margin-lf);
}
.uptitle h1 {
  font-size: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e22713;
  padding-top: 6rem;
}
.uptitle p {
  font-size: 18px;
  color: #737373;
  margin: 20px 0 60px 0;
}
.imgrid {
  margin: var(--margin-lf);
}
.imsec {
  display: flex;
  align-items: end;
  height: 650px;
  width: 100%;
  background-color: #737373;
  margin: 20px 40px 20px 10px;
}
.imone {
  background-image: url(./images/imgone.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imtwo {
  background-image: url(./images/imgtwo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.imthree {
  background-image: url(./images/imgthree.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* UP Editions CSS */

.cardmar {
  margin: 20px;
}
.cardtitle {
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}
.evntschedule {
  color: #ffffff;
  display: flex;
  margin-top: 10px;
}

.evntdate {
  display: flex;
}
.evntdate p {
  margin-left: 10px;
}
.evntlocation {
  display: flex;
}
.evntlocation p {
  margin-left: 10px;
}
.evntlocation span {
  margin-left: 10px;
}

/* Card Button */

.cardbtn {
  margin: 20px 0 15px 0;
}
.card-btn {
  text-decoration: none;
  text-transform: uppercase;
}
.cardbtn-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  border: none;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 10px 35px;
}
.cardbtn-item span {
  font-weight: 100 !important;
  font-size: 2rem;
  rotate: -45deg;
}

/* Speakers Profile CSS  */
.speakers .container-fluid {
  --bs-gutter-x: 0 !important;
  margin: 0 !important;
}
.sp__profile,
.sp__text,
.sp__button {
  height: 20rem;
}
.sp__text,
.sp__button {
  background-color: #1f1c1d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sp__button {
  align-items: center;
}
.sp__text h1 {
  color: #e22713;
  font-size: 18px;
  margin-left: 20px;
}
.sp__text h3 {
  color: #ffffff;
  font-weight: 700;
  margin-left: 20px;
}
.sp__one {
  background-image: url(./images/Judith.jpg);
  background-size: cover;
}
.sp__two {
  background-image: url(./images/RUDI-LUMANTO-1.jpg);
  background-size: cover;
}
.sp__three {
  background-image: url(./images/Margaret-Yunque-.jpg);
  background-size: cover;
}
.sp__four {
  background-image: url(./images/Ruselle.jpg);
  background-size: cover;
}
.sp__five {
  background-image: url(./images);
  background-size: cover;
}

.speakers {
  padding-bottom: 4rem;
  overflow: hidden;
}

/* View All Button */

.viewallbtn {
  margin: 20px 0 15px 0;
}
.viewall-btn {
  text-decoration: none;
  text-transform: uppercase;
}
.viewbtn-item {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  background: rgb(234, 58, 41);
  background: linear-gradient(
    90deg,
    rgba(234, 58, 41, 1) 0%,
    rgba(246, 114, 82, 1) 100%
  );
  padding: 10px 35px;
}
.viewbtn-item span {
  font-weight: 100 !important;
  font-size: 2rem;
}

/* Sponsor CSS  */

.spon__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spon__text h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #e22713;
}
.spon__text p {
  font-size: 18px;
  color: #737373;
}
.package {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.sponsor__logo {
  padding: 10px;
}
.logo_border {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(128, 128, 128, 0.3);
}
.logo_border img {
  width: 90%;
  height: auto;
}
.sponsor {
  padding-bottom: 50px;
}

/* Topic of Discussion CSS  */

.topic {
  background-color: #f1f5f9;
  padding: 100px 0;
}
.topic h1 {
  font-size: 7.7rem;
  font-weight: 800;
  letter-spacing: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  color: rgb(115, 115, 115, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.topic__title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: -100px 0 100px 0;
}
.topic__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 10px;
  padding: 20px 0;
  cursor: pointer;
  transition: all 1s;
}
.topic__card h3 {
  margin-top: 10px;
}
.topic__card span {
  font-size: 3rem;
  background-color: #e22713;
  padding: 25px;
  border-radius: 50px;
  color: #ffffff;
}
.topic__card p {
  text-align: center;
  color: #737373;
}
.topic__card:hover {
  background-color: #000000;
  transition: all 0.5s;
  transform: translateY(-10px);
  color: #ffffff;
}
.video {
  height: 100vh;
  width: 100%;
  background-image: url(./images/video.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.video span {
  font-size: 6rem;
  color: #ffffff;
  padding: 40px;
  background-color: #e22713;
  border-radius: 100%;
  cursor: pointer;
}

/* Testimonial CSS  */

/* Video Testimonial  */
.test__title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #e22713;
  text-transform: uppercase;
  margin: 40px 0;
}
.vtestimonial {
  height: 40rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.test__one {
  background-image: url(./images/vtest01.jpg);
  background-size: cover;
}
.test__two {
  background-image: url(./images/vtest02.jpg);
  background-size: cover;
}
.test__three {
  background-image: url(./images/vtest03.jpg);
  background-size: cover;
}
.test__four {
  background-image: url(./images/vtest04.jpg);
  background-size: cover;
}
.vtestimonial span {
  font-size: 3rem;
  padding: 2rem;
  background-color: #e22713;
  border-radius: 100%;
  color: #ffffff;
  cursor: pointer;
}

/* Image Gallery  */

.img__title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  color: #e22713;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.img__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  justify-items: center;
  grid-gap: 0;
}
.item {
  width: 100%;
  overflow: hidden;
  background: #000;
}
.item img {
  opacity: 0.6;
  width: 100%;
  height: 100%;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.item img:hover {
  opacity: 1;
  transform: scale(1.03);
}

/* News & Articles  */

.news__img {
  height: 220px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  margin: 0 28px;
  z-index: 9999;
}
.news__img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.article__title {
  height: 35rem;
  background-color: #ffffff;
  z-index: 1;
  margin-top: -10rem;
  margin-bottom: 50px;
}
.article__title h3 {
  padding: 12rem 30px 0 30px;
  font-size: 1.5rem;
  font-weight: 700;
}
.article {
  padding: 20px 30px;
}
.art__btn {
  padding-left: 30px;
}
.article__title a {
  text-decoration: none;
}
.articlebtn__item {
  border: none;
  background: none;
  border-bottom: 2px solid #e22713;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.article__btn .art__icon {
  font-size: 2rem;
  font-weight: 100;
  rotate: -45deg;
}

/* Footer CSS  */
.footer {
  background-color: #121212;
  padding-bottom: 10px;
  color: #ffffff;
}
.logo img {
  width: 180%;
  margin-top: -5px;
}
.footer__top {
  padding: 80px 0 20px 0;
  color: #ffffff;
}
.footer__line {
  margin-top: 60px;
}
.footer__info p {
  font-size: 14px;
  margin-top: 30px;
}
.footer__title h1 {
  font-size: 1.5rem;
  font-weight: 700;
}
.evnt__comp {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.page__comp {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.evnt__comp span {
  font-size: 1.4rem;
  color: #e22713;
}
.page__comp span {
  font-size: 1.4rem;
  color: #e22713;
}
.evnt__comp p {
  font-size: 0.75rem;
  margin-bottom: -1px;
  padding-left: 5px;
}
.page__comp p {
  font-size: 0.75rem;
  margin-bottom: -1px;
  padding-left: 5px;
}
.evnt__comp a {
  text-decoration: none;
  color: #ffffff;
}
.page__comp a {
  text-decoration: none;
  color: #ffffff;
}
.evnt__comp a:hover {
  color: #e22713;
}
.page__comp a:hover {
  color: #e22713;
}
.evnt__info {
  margin-top: 20px;
}

/* Footer Bottom */

.footer__bottom {
  color: #ffffff;
}
.icon__set {
  font-size: 1rem;
  margin-top: 20px;
}
.icon__set i {
  padding: 15px;
  background-color: #1d1d1d;
  border-radius: 100%;
}
.icon__set i:hover {
  color: #e22713;
}
.newsleter__title {
  text-align: center;
}

/* Newsletter  */

.newsletter {
  margin: 20px 40px 0;
}
.newsletter .content.form-control:focus {
  box-shadow: none;
  border: 2px solid #243c4f;
}
.input-group {
  height: 60px;
}
.form-control {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #1d1d1d !important;
  padding-left: 30px !important;
}
.input-group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(234, 58, 41);
  background: linear-gradient(
    90deg,
    rgba(234, 58, 41, 1) 0%,
    rgba(246, 114, 82, 1) 100%
  );
  padding: 0 20px;
}
.btn {
  font-weight: 600 !important;
  text-transform: uppercase;
  color: #ffffff !important;
}

/* Copyright  */

.copyright {
  text-align: center;
  color: #ffffff;
}
.madeby {
  font-size: 14px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .hero-text {
    font-size: 3.5rem;
  }
  .container-fluid {
    margin: 0 !important;
  }
  .hero-section {
    padding: 1rem !important;
    height: 80vh;
  }
  .line {
    border-right: 0;
  }
  .statcomp span {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .stats {
    padding: 0;
  }
  .statcomp h1 {
    font-size: 24px;
  }
  .statcomp h3 {
    font-size: 14px;
  }
  .statdiv {
    padding: 30px 0;
  }
  .statcomp {
    margin: 20px 0;
  }
  .about {
    padding: 0 1rem !important;
    margin-top: 50px !important;
  }
  .about-event .row {
    --bs-gutter-x: 0;
  }

  .about h3 {
    font-size: 18px;
  }
  .about p {
    margin-right: 0;
    margin-top: 30px;
    font-size: 14px;
  }
  .aboutbtn {
    margin: 20px 0 50px 0;
  }
  .btn-item {
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
  }
  .uptitle {
    margin: 1rem;
  }
  .uptitle h1 {
    font-size: 24px;
    padding-top: 50px;
  }
  .uptitle p {
    font-size: 14px;
  }
  .imgrid {
    margin: 1rem;
  }
  .imsec {
    height: 420px;
    margin: 0;
    display: flex;
    align-items: end;
  }
  .evntschedule span {
    font-size: 18px;
  }
  .evntschedule p {
    font-size: 14px;
  }
  .upedt {
    padding-bottom: 2rem;
  }
  .sponsor {
    padding-left: 1rem;
  }
  .spon__text h1 {
    font-size: 24px;
  }
  .spon__text p {
    font-size: 14px;
  }
  .package {
    font-size: 22px;
  }
  .topic {
    padding: 50px 0;
  }
  .topic h1 {
    display: none;
  }
  .topic__title {
    margin: 0 0 50px 0;
  }
  .topic__card {
    margin: 20px 0;
  }
  .video {
    height: 300px;
  }
  .video span {
    font-size: 3rem;
    padding: 10px;
  }
  .test__title {
    font-size: 24px;
  }
  .vtestimonial {
    height: 30rem;
  }
  .vtestimonial span {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .footer__title h1 {
    margin-top: 2rem;
  }
  .follow__title {
    text-align: center;
  }
  .icon__set {
    display: flex;
    margin: 0 20px;
    justify-content: space-around;
  }
  .input-group {
    height: 50px;
  }
  .input-group-btn {
    padding: 0 10px;
  }
  .form-control {
    padding-left: 20px !important;
  }
}
