@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "IntregalCFHeavy";
  src: url(./assets/fonts/Fontspring-DEMO-integralcf-heavy.otf);
}
@font-face {
  font-family: "SFProBlack";
  src: url(./assets/fonts/SFPRODISPLAYBLACKITALIC.OTF);
}
@font-face {
  font-family: "SFProRegular";
  src: url(./assets/fonts/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: "MyriadPro";
  src: url(./assets/fonts/MYRIADPRO-REGULAR.OTF);
}

:root {
  --white: #ffffff;
  --primary-color: #4a9ff4;
  --secondary-color: #e8519d;
  --main-font: "IntregalCFHeavy", sans-serif;
  --titlium-web: "Titillium Web", sans-serif;
  --manrope-bold: "Manrope", sans-serif;
  --count-font: "Anton", sans-serif;
  --work-sans: "Work Sans", sans-serif;
  --bebas-neue: "Bebas Neue";
  --sf-pro: "SFProBlack";
  --sf-pro-regular: "SFProRegular";
  --myriad-pro: "MyriadPro";
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(8, 23, 78);
  background: linear-gradient(
    90deg,
    rgba(8, 23, 78, 1) 0%,
    rgba(4, 10, 32, 1) 100%
  );
}

/* Hero Section  */

.hero-section {
  height: 100vh;
  overflow: hidden;
  background-image: url(./assets/images/RT1_1062_websize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.hero__comp {
  color: var(--white);
  padding: 0 25rem;
  z-index: 99999;
}
.side__margin {
  outline: 1px Solid blue;
}
.hero__img {
  border-right: 0.5px solid rgba(232, 81, 157, 0.3);
}
.hero__img img {
  width: 100%;
  padding-right: 3rem;
}
.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__text h1 {
  font-size: 2.9rem;
  padding-left: 1rem;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--main-font);
}
.hero__text .blue__part {
  color: var(--primary-color);
}
.hero__textfix {
  font-family: var(--manrope-bold);
  font-weight: 800;
}
.hero__fontfix {
  font-size: 2.5rem;
  line-height: 0.8;
}
hr {
  color: #e8519d !important;
}
.date__location,
.button__comp {
  display: flex;
  align-items: center;
}
.date__comp,
.location__comp,
.button__one,
.button__two {
  width: 50%;
  display: flex;
  align-items: center;
}
.date__comp,
.button__one {
  justify-content: end;
  padding-right: 4rem;
}
.location__comp,
.button__two {
  justify-content: start;
  padding-left: 2rem;
}
.date__location i {
  font-size: 2rem;
  color: var(--secondary-color);
}
.date__location h3 {
  font-family: var(--titlium-web);
  font-weight: 600;
  padding-left: 1rem;
  padding-top: 0.5rem;
  text-transform: uppercase;
}
.button__comp {
  padding: 5rem 0;
}
.button__comp a {
  font-family: var(--titlium-web);
  font-weight: 800;
  text-decoration: none;
  color: var(--white);
  padding: 0 2.5rem 0.8rem 0;
  border-right: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
}
.button__comp a:hover {
  color: var(--primary-color);
}

/* Counter Section CSS  */

.counter_section {
  padding: 7rem 5rem;
}
.count__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter__text h1 {
  color: var(--white);
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-family: var(--manrope-bold);
  border-bottom: 4px solid var(--secondary-color);
}
.count__comp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.count__comp:hover {
  color: var(--secondary-color);
}
.count__comp span {
  font-size: 6rem;
  font-family: var(--bebas-neue);
  font-weight: bold;
}
.count__comp p {
  font-family: var(--work-sans);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

/* #WFISVietnam Section CSS  */

.wfis__text {
  padding-left: 5rem;
}
.wfis__text h1 {
  color: var(--primary-color);
  font-family: var(--titlium-web);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 6.8rem;
}
.wfis__text p {
  color: #ffffff;
  padding: 2.2rem 6.5rem 0 0;
  font-size: 1.7rem;
  font-family: var(--work-sans);
}
.wfis__img {
  display: flex;
  justify-content: right;
  padding-top: 2rem;
}
.wfis__img img {
  width: 90%;
}
.about {
  display: flex;
}
.about__text {
  width: 50%;
  padding-left: 5rem;
}
.about__text h1 {
  color: var(--primary-color);
  font-family: var(--titlium-web);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 6.8rem;
}
.about__text p {
  color: #ffffff;
  padding: 4rem 9rem 0 0;
  font-size: 1.8rem;
  font-family: var(--work-sans);
}
.about__img {
  width: 50%;
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
}
.about__img img {
  width: 90%;
  padding-top: 8rem;
}
/* Stats CSS  */

.stats__section {
}
.stats__title {
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 4rem;
  height: 10rem;
}
.stats__title h1 {
  font-family: var(--main-font);
  font-size: 9rem;
  padding-left: -5rem;
  opacity: 0.05;
  position: absolute;
}
.stats__title h2 {
  width: 100%;
  font-size: 2.6rem;
  font-family: var(--main-font);
  padding-left: 5rem;
}
.col__fix {
  color: var(--white);
  margin-left: 5rem;
  padding-top: 4rem;
}
.stats__comp h1 {
  font-family: var(--bebas-neue);
  font-size: 4.2rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.stats__comp h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 14%;
  border-bottom: 5px solid var(--secondary-color);
}
.stats__comp p {
  font-family: var(--work-sans);
  font-weight: bold;
  line-height: 1.4;
  width: 60%;
}
.total__comp h1 {
  font-family: var(--bebas-neue);
  font-weight: bolder;
  font-size: 13rem;
  padding-bottom: 0.5rem;
  position: relative;
  color: var(--secondary-color);
}
.total__comp h1:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 22%;
  border-bottom: 15px solid var(--secondary-color);
}
.total__comp p {
  font-size: 2.4rem;
  font-family: var(--work-sans);
  font-weight: bold;
  padding-top: 1rem;
  line-height: 1.2;
  width: 70%;
  color: var(--white);
}

/* Tabs CSS  */
.tab__section {
  padding-bottom: 8rem;
}
.nav {
  justify-content: end;
  padding: 4rem 0;
}
.nav-item {
  font-size: 2rem;
  font-family: var(--main-font);
  text-align: start !important;
}
.nav-link {
  padding-left: 0 !important;
  padding-bottom: 15px !important;
}
.nav-tabs .nav-link.active {
  background-color: transparent !important;
  color: var(--primary-color) !important;
  border: none !important;
}
.nav-tabs .nav-link {
  color: var(--white);
  margin-right: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.nav-link:hover {
  color: var(--primary-color) !important;
  border-color: transparent !important;
}
.nav-link:hover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100px;
  border-bottom: 5px solid var(--secondary-color);
}
.nav-link {
  position: relative;
  z-index: 1;
}
.tab-img img {
  width: 100%;
  padding-right: 5rem;
}
.tab-text {
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.tab-text h1 {
  font-size: 3rem;
  font-family: var(--main-font);
}
.tab-text p {
  font-size: 1.8rem;
  font-family: var(--work-sans);
}

/* No Edit  */
.nav-tabs {
  --bs-nav-tabs-border-width: none !important;
  --bs-nav-tabs-border-color: none !important;
  --bs-nav-tabs-border-radius: none !important;
  --bs-nav-tabs-link-hover-border-color: none !important;
  --bs-nav-tabs-link-active-color: none !important;
  --bs-nav-tabs-link-active-bg: none !important;
  --bs-nav-tabs-link-active-border-color: none !important;
  border-bottom: none !important;
}

/* Info Grid Section CSS  */

.info__grid {
  padding: 0 8rem;
}
.info__center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.side__border {
  border-right: 1px solid rgba(220, 220, 220, 0.2);
}
.all__border {
  border-right: 1px solid rgba(220, 220, 220, 0.2);
  border-top: 1px solid rgba(220, 220, 220, 0.2);
}
.top__border {
  border-top: 1px solid rgba(220, 220, 220, 0.2);
}
.info__comp {
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.info__comp:hover {
  color: var(--secondary-color);
}
.info__comp i {
  font-size: 3rem;
  padding-left: 4rem;
}
.info__comp h2 {
  padding: 1rem 4rem 0 2rem;
  font-size: 1.5rem;
  width: 70%;
  font-family: var(--work-sans);
  font-weight: bold;
  text-align: left;
}

/* Speaker Section CSS  */

.speaker__title {
  color: var(--white);
  position: relative;
  display: flex;
  align-items: center;
  height: 10rem;
}
.speaker__title h1 {
  font-family: var(--main-font);
  font-size: 9rem;
  opacity: 0.05;
  position: absolute;
}
.speaker__title h2 {
  width: 100%;
  font-size: 2.6rem;
  font-family: var(--main-font);
  padding-left: 5rem;
}
.speakers {
  padding: 4rem 0;
}
.no__gutter {
  --bs-gutter-x: 0rem !important;
}
.speaker__img {
  height: 24rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img__overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.img__overlay:hover {
  transition: all ease-in 0.5s;
  opacity: 1;
}
.img__overlay p {
  color: var(--white);
  text-align: center;
  padding: 0 2rem;
  font-family: var(--myriad-pro);
}
.icon__comp {
  padding-top: 2rem;
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.icon__comp i {
  font-size: 1.3rem;
  color: var(--white);
}
.icon__comp i:hover {
  color: var(--primary-color);
}
.img__one {
  background-image: url(./assets/images/Judith.jpg);
}
.img__two {
  background-image: url(./assets/images/speaker12.jpg);
}
.img__three {
  background-image: url(./assets/images/speaker02.png);
}
.img__four {
  background-image: url(./assets/images/speaker03.jpg);
}
.img__five {
  background-image: url(./assets/images/speaker04.jpg);
}
.img__six {
  background-image: url(./assets/images/speaker05.jpg);
}
.img__seven {
  background-image: url(./assets/images/speaker06.png);
}
.img__eight {
  background-image: url(./assets/images/speaker07.png);
}
.img__nine {
  background-image: url(./assets/images/speaker10.jpg);
}
.sepeker__info {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.speaker__name {
  font-weight: bolder;
  font-family: var(--sf-pro);
  color: var(--primary-color);
}
#parent:hover .speaker__name {
  color: var(--secondary-color);
}
.speaker__position {
  font-size: 1.2rem;
  color: var(--white);
  font-family: var(--sf-pro-regular);
}
.speaker__company {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--white);
  font-family: var(--sf-pro-regular);
}
.speaker__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24rem;
  background: rgb(89, 156, 239);
  background: linear-gradient(
    90deg,
    rgba(89, 156, 239, 1) 0%,
    rgba(170, 132, 203, 1) 100%
  );
}
.speaker__btn {
  font-family: var(--sf-pro-regular);
  font-weight: bold;
  border: none;
  background-color: var(--white);
  padding: 10px 20px;
  border-radius: 50px;
}

@media only screen and (max-width: 600px) {
  /* Hero Section MQ  */

  .hero__img img {
    padding: 0;
  }
  .hero-section {
    height: 80vh;
    background-size: auto;
  }
  .overlay {
    height: 80vh;
  }
  .hero__img {
    border-right: none;
  }
  .hero__text h1 {
    font-size: 1.8rem;
    padding-top: 3rem;
    padding-left: 0;
  }
  .hero__fontfix {
    font-size: 1.54rem;
  }
  .date__location h3 {
    font-size: 1rem;
  }
  .date__location i {
    font-size: 1.2rem;
  }
  .date__comp {
    padding-right: 0;
    justify-content: start;
  }
  .location__comp {
    padding-left: 0;
  }
  .button__one {
    padding-right: 0;
    justify-content: start;
  }
  .button__two {
    padding-left: 15px;
  }
  .button__comp a {
    padding: 0 1rem 0.6rem 0;
  }

  /* Counter MQ  */
  .counter_section {
    padding: 0;
  }
  .count__text {
    padding-top: 3rem;
  }
  .counter__text h1 {
    font-size: 2rem;
  }
  .count__comp span {
    font-size: 4rem;
  }
  .count__comp {
    justify-content: start;
  }

  /* Speaker Section MQ  */
  .speaker__img,
  .speaker__button {
    height: 12rem;
  }
  .img__overlay p {
    font-size: 0.7rem;
    padding: 0 0.5rem;
  }
  .icon__comp {
    padding-top: 1rem;
    width: 30%;
    justify-content: space-between;
  }
  .icon__comp i {
    font-size: 1rem;
    color: var(--white);
  }
  .sepeker__info {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .speaker__name {
    font-size: 1rem;
  }
  .speaker__position {
    font-size: 0.8rem;
  }
  .speaker__company {
    font-size: 0.6rem;
    margin-top: -3px;
    opacity: 0.8;
  }
  .speakers {
    padding: 2rem 0;
  }
  .speaker__title h1 {
    font-size: 5rem;
  }
  .speaker__title h2 {
    font-size: 3rem;
    padding-left: 0.5rem;
    font-family: var(--main-font);
  }

  /* Info Grid MQ  */

  .info__grid {
    padding: 2rem 0;
  }
  .info__comp {
    flex-direction: column;
    padding: 1rem 0rem;
  }
  .info__comp i {
    font-size: 1.7rem;
    padding: 1rem;
  }
  .info__comp h2 {
    font-size: 1rem;
    width: 100%;
    padding: 0;
    font-family: var(--work-sans);
    font-weight: bold;
    text-align: center;
  }
  .mq__border {
    border-top: 1px solid rgba(220, 220, 220, 0.2);
  }

  /* #WFISVietnam MQ  */

  .wfis__text {
    padding-left: 0;
  }
  .wfis__text h1 {
    font-size: 3rem;
    padding-top: 3rem;
  }
  .wfis__text p {
    padding: 2rem 0rem 0 0;
    font-size: 1rem;
  }
  .wfis__img {
    padding-top: 2rem;
  }
  .wfis__img img {
    padding-left: 2rem;
    width: 100%;
  }

  /* Tabs MQ  */
  .tab__section {
    padding-bottom: 3rem;
  }
  .nav {
    justify-content: start;
    padding: 2rem 0;
  }
  .nav-item {
    font-size: 1rem;
  }
  .nav-link:hover::before {
    width: 50px;
    border-bottom: 3px solid var(--secondary-color);
  }
  .nav-link {
    margin: 0;
    padding: 0;
    padding-bottom: 5px !important;
  }
  .tab-img img {
    padding-right: 0;
  }
  .nav-tabs .nav-link {
    padding-right: 0;
  }
  .tab-text {
    padding-top: 3rem;
  }
  .tab-text h1 {
    font-size: 2rem;
  }
  .tab-text p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .col-lg-2-5 {
    width: 20% !important;
  }
}

@media only screen and (max-width: 1600px) and (min-width: 1200px) {
  .wfis__text h1 {
    font-size: 5.5rem;
  }
  .wfis__text p {
    font-size: 1.3rem;
  }
  .wfis__img {
    padding-top: 4rem;
    padding-left: 2rem;
  }
  .wfis__img img {
    width: 95%;
  }
  .nav-item {
    font-size: 1.4rem;
  }
  .tab-text h1 {
    font-size: 2.5rem;
  }
  .tab-text p {
    font-size: 1.3rem;
    padding-top: 2rem;
  }
  .info__comp i {
    font-size: 2.5rem;
    padding-left: 2rem;
  }
  .info__comp h2 {
    padding: 1rem 2rem 0 1rem;
    font-size: 1.2rem;
  }
  .nav {
    padding: 1.5rem 0;
  }
  .speaker__img,
  .speaker__button {
    height: 18rem;
  }
  .speaker__name {
    font-size: 1.6rem;
  }
  .speaker__position {
    font-size: 0.8rem;
  }
  .speaker__company {
    font-size: 0.8rem;
  }

  .stats__section {
    padding-bottom: 2rem;
  }
  .stats__title h1 {
    font-size: 7rem;
  }
  .stats__title h2 {
    font-size: 2rem;
  }
  .stats__comp p {
    width: 80%;
  }
  .stats__comp h1:before {
    width: 25%;
  }
  .stats__title {
    padding-top: 0;
  }
  .col__fix {
    padding-top: 2rem;
  }
  .total__comp h1 {
    font-size: 10rem;
  }
  .total__comp h1:before {
    border-bottom: 10px solid var(--secondary-color);
  }
  .total__comp p {
    font-size: 2rem;
  }
}
