@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "IntregalCFHeavy";
  src: url(./fonts/Fontspring-DEMO-integralcf-heavy.otf);
}

:root {
  --white: #ffffff;
  --primary-color: #4a9ff4;
  --secondary-color: #e8519d;
  --main-font: "IntregalCFHeavy", sans-serif;
  --titlium-web: "Titillium Web", sans-serif;
  --manrope-bold: "Manrope", sans-serif;
  --count-font: "Anton", sans-serif;
  --work-sans: "Work Sans", sans-serif;
  --bebas-neue: "Bebas Neue";
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: rgb(8, 23, 78);
  background: linear-gradient(
    90deg,
    rgba(8, 23, 78, 1) 0%,
    rgba(4, 10, 32, 1) 100%
  );
}

/* Hero Section  */

.hero-section {
  height: 100vh;
  overflow: hidden;
  background-image: url(./Images/RT1_1062_websize.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.hero__comp {
  color: var(--white);
  padding: 0 25rem;
  z-index: 99999;
}
.big__logo {
  width: 38rem;
}
.hero__text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__text h1 {
  font-size: 2.7rem;
  line-height: 1;
  text-align: left;
  text-transform: uppercase;
  font-family: var(--main-font);
}
.hero__text .blue__part {
  color: var(--primary-color);
}
.info__comp {
  padding-top: 4rem;
  padding-bottom: 5rem;
}
.info__comp h3 {
  font-size: 1.7rem;
  font-family: var(--titlium-web);
  font-weight: 700;
  text-transform: uppercase;
}
.hero__info {
  display: flex;
}
.date__info {
  width: 50%;
  padding-right: 3rem;
  outline: 1px dashed green;
  display: flex;
  align-items: center;
  justify-content: end;
}
.location__info {
  width: 50%;
  padding-left: 3rem;
  outline: 1px dashed green;
  display: flex;
  align-items: center;
  justify-content: start;
}
.hero__info i {
  font-size: 2rem;
  color: var(--secondary-color);
  padding-right: 1rem;
}
.hero__button {
  outline: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__button a {
  font-family: var(--main-font);
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--white);
  position: relative;
}
.button__one {
  background-color: var(--secondary-color);
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 20px;
  padding-left: -20px;
}

.one {
  outline: 1px solid red;
}
.two {
  outline: 1px solid blueviolet;
}
.three {
  outline: 1px solid yellow;
}
.four {
  outline: 1px solid rgb(247, 0, 255);
}

/* Counter Section CSS  */

.counter_section {
  padding: 7rem 5rem;
}
.count__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.counter__text h1 {
  color: var(--white);
  padding-bottom: 1rem;
  font-size: 2.5rem;
  font-family: var(--manrope-bold);
  border-bottom: 4px solid var(--secondary-color);
}
.count__comp {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}
.count__comp:hover {
  color: var(--secondary-color);
}
.count__comp span {
  font-size: 6rem;
  font-family: var(--bebas-neue);
  font-weight: bold;
}
.count__comp p {
  font-family: var(--work-sans);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3;
}

/* #WFISVietnam Section CSS  */

.about {
  display: flex;
}
.about__text {
  width: 50%;
  padding-left: 5rem;
}
.about__text h1 {
  color: var(--primary-color);
  font-family: var(--titlium-web);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 6.8rem;
}
.about__text p {
  color: #ffffff;
  padding: 4rem 9rem 0 0;
  font-size: 1.8rem;
  font-family: var(--work-sans);
}
.about__img {
  width: 50%;
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
}
.about__img img {
  width: 90%;
  padding-top: 8rem;
}
